html {
  font-family: Overpass, sans-serif;
}

section {
  background-image: linear-gradient(#ff9500, #ff5e3a 30%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #fff;
}

h2,
p {
  color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  text-decoration: none;
  border: 3px #fff solid;
  float: left;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #ff9500;
}

span {
  border: 1px solid #fff;
}

@media only screen and (min-width: 60em) {

  li:first-child,
  li:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-bottom: none;
  }

}
